.circular-text {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  color: #fff;
  font-weight: 900;
  text-align: center;
  cursor: pointer;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}

.circular-text__rotator {
  position: relative;
  width: 100%;
  height: 100%;
  transform-origin: 50% 50%;
}

.circular-text__rotator span {
  position: absolute;
  inset: 0;
  display: inline-block;
  font-size: 24px;
  transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}
